h2, .atitle {
    font-size: 24px;
    color: #F9FAF8;
}

.header, .footer {
    background-color: #1F2937;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

a, .subtext, .atext {
    font-size: 18px;
    color: #E5E7EB;
}

.title {
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
}

button, .action_inner {
    background-color: #3882F6;
}

.action_inner{
    width: 1000px;
}

.action {
    background-color: #F9FAF8;
    padding: 60px;
    display:flex;
    justify-content: center;
}

.quote {
    background-color: #E5E7EB;
    color: #1F2937;
}

.qtext {
    font-style: italic;
    font-size: 36px;
    font-weight: lighter;
}

.author {
    font-size: 18px;
    font-weight: bold;
}

#signup2 {
    border: 2px solid white;
}

button {
    border: none;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    border-radius: 8px;
    font-size: 12px;
    cursor: pointer;
    width: 140px;
    font-weight: bold;
    font-size: 18px;
    color: #E5E7EB;
}

body {
    margin: 0;
}
.header {
    display: flex;
    justify-content: center;
    padding-bottom: 100px;
    gap: 100px;
}

ul {
    display: flex;
}

li {
    margin-left: 20px;
}

.topleft {
    flex-basis: 400px;
}
   
.topright {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}

.logo {
    margin-bottom: 100px;
}

.photos {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.photo {
    display: flex;
    flex-basis: 140px;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.info {
    text-align: center;
}

.content {
    padding-bottom: 50px;
}

.quote {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.qtext {
    width: 750px;
    margin-bottom: 0;
}

.author {
    width: 750px;
    text-align: right;
}

.inner_text, .inner_button {
    padding: 50px;
}

.action_inner {
    display: flex;
    justify-content: space-evenly;
    border-radius: 8px;
}

.inner_button {
    align-self: flex-end;
}
